<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img alt="Marvel Logo" src="/assets/images/logo_marvel.png"/>
        </a>

        <a #navBurger (click)="toggleNavbar()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div #navMenu id="navbarBasicExample" class="navbar-menu" >
        <div class="navbar-start">
            <a class="navbar-item" (click)="closeNavbar()" routerLink="/personnages">Les superhéros</a>
            <a class="navbar-item" (click)="closeNavbar()" routerLink="/favoris">Ma superteam</a>
        </div>
    </div>
</nav>