.navbar {
  background-color: #f0141e;
  color: #0E0E0E;

  .navbar-item{
    font-weight: bold;
    font-size: 16px;
  }

  .navbar-burger{
    color: #fff;
  }

  a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{
    background-color: #f0141e;
    color: #fff;
  }

  .navbar-start{
    a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{
      background-color: #fff;
      color: #f0141e;
    }
  }
}