.figure{
  overflow: hidden;
  height: calc(128px + 2em);
  margin-bottom: 20px;

  .desc{
    height: 2em;
    text-align: center;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  figure{
    background-color: #DDDDDD;
    margin: 0 auto !important;
    cursor: pointer;

    fa-icon{
      position: absolute;
      bottom: 0;
      right: 13px;
      cursor: pointer;
      font-size: 24px;
    }
  }

  &.is-favorite, &:hover{
    figure{
      border: 5px solid #f0141e;
      border-radius: 16px;
      overflow: hidden;
    }
  }

  &.is-favorite{
    fa-icon{
      color: #f0141e;
    }
  }
}