<div class="gallery">
    <div class="figure" [ngClass]="{'is-favorite' : data.isFavorite}" (click)="toggleFavorite()">
        <div class="desc">{{data.name}}</div>
        <figure class="image is-128x128">
            <img src="{{data.thumbnail.path}}.{{data.thumbnail.extension}}"/>
            <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </figure>
    </div>
</div>
