<div class="title">Les superhéros</div>
<div class="container">
    <div class="images-list" ngxInfiniteScroller strategy="scrollingToBottom" (onScrollDown)="onScrollDown()">
        <div class="responsive" *ngFor="let perso of persoList">
            <app-personnage [data]="perso"></app-personnage>
        </div>

        <div class="responsive" *ngIf="isLoading">
            <div class="image-item">
                <div class="loader">
                    <svg class="loader-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <circle cx="50" cy="50" r="45"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>


