<div class="title">Ma superteam</div>
<div class="container">
    <div class="images-list">
        <div class="responsive" *ngFor="let fav of favList">
            <app-personnage [data]="fav"></app-personnage>
        </div>
        <div class="responsive">
            <div class="image-item">
                <a class="button-add" routerLink="/personnages">
                    <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Add</title><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M256 112v288M400 256H112'/></svg>
                </a>
            </div>
        </div>

    </div>

</div>
