.content {
  .title {
    padding: 10px;
  }
  .images-list {
    .image-item {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

/*loader*/
.loader {
  position: absolute;
  left: calc(50% - 25px);
  top: 50%;
  //transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border: none;

  .loader-svg {
    animation: spin-anim 2000ms linear infinite;
    width: 100%;
    height: 100%;

    circle {
      animation: circle-anim 1400ms ease-in infinite both;
      display: block;
      fill: transparent;
      stroke: #f0141e;;
      stroke-linecap: round;
      stroke-dasharray: 283;
      stroke-dashoffset: 190;
      stroke-width: 8px;
      transform-origin: 50% 50%;
      transition: stroke 600ms ease-in;
    }
  }
}

@keyframes circle-anim {
  0% {
    stroke-dashoffset: 280;
    transform: rotate(0deg);
  }

  50% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

@keyframes spin-anim {
  100% {
    transform: rotate(360deg);
  }
}

/*End loader*/

/*Gallery*/
.images-list{
  list-style: none;
  margin: 0 6px;
  padding: 0;
  height: calc(100vh - 132px);
  width: 100%;
  overflow-y: scroll;
  text-align: center;

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;

    .gallery {
      img {
        width: 100%;
        height: auto;
      }
    }

    .image-item{
      height: calc(128px + 3em);
      position: relative;
    }
  }
}

@media only screen and (max-width: 700px) {
  .images-list .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .images-list .responsive {
    width: 100%;
  }
}

/*Gallery*/