html, body {
  margin: 0;
  padding: 0;
  background-color: #0E0E0E;
  color: #fff;
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}

/* The emerging W3C standard that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}